/* Apply a navy background and white text */
body {
    background-color: #005580;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header styling */
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 1rem;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Section and footer styling */
  section {
    padding: 2rem;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  
  /* Project div styling */
  section#Main\ Projects > div {
    border: 2px solid white;
    margin-bottom: 2rem;
    padding: 1rem;
  }
  
  /* Image styling */
  img {
    border: 2px solid red;
    margin-top: 1rem;
    max-width: 100%;
    
  }
  
  img[alt="Python Isometric Project (Multilayer mode)"] {
    width: 861px; /* Adjust this as needed to match the size of the first image */
    height: 918px;
  }